@font-face {
    font-family: WebFont;
    font-weight: normal;
    src: url('../fonts/IranSans/IRANSansWeb(FaNum).eot');
    src: url('../fonts/IranSans/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/IranSans/IRANSansWeb(FaNum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranSans/IRANSansWeb(FaNum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranSans/IRANSansWeb(FaNum).ttf') format('truetype');
}

.font-fa{
    font-family: WebFont;
    text-align: right;

}
*,button,label,.md-input{
    font-family: WebFont;
}